<template x-component="body">
    <div>
        <h1 x-text="$api.data.name"></h1>
        <div class="text-xs" x-text="$api.data.now"></div>
        <hkp-message type="info"
            ><span x-text="$api.$of().infoMessage"></span
        ></hkp-message>
        <hkp-message type="error"
            ><span x-text="$api.$of().errorMessage"></span
        ></hkp-message>
        <div class="mt-8">
            <h2>Characteristics</h2>
            <template x-for="c in $api.data.characteristics">
                <div
                    class="grid md:grid-cols-6 gap-x-8 gap-y-2 my-2 px-2 py-2 bg-gray-50"
                >
                    <div class="md:col-span-2 xl:col-span-2">
                        <div :class="$api.labelClass" x-text="'#' + c.id"></div>
                        <div
                            :class="$api.descriptionClass"
                            x-text="c.name"
                        ></div>
                    </div>
                    <div class="md:col-span-2 xl:col-span-1">
                        <div :class="$api.labelClass">Type</div>
                        <div
                            :class="$api.descriptionClass"
                            x-text="c.type"
                        ></div>
                    </div>
                    <div class="md:col-span-6 xl:col-span-3">
                        <div :class="$api.labelClass">Value</div>
                        <template x-if="c.type == 'Active'">
                            <hkp-dropdown
                                :options="[
                                    'ActiveActive',
                                    'ActiveInactive'
                                    ]"
                                x-model="c.value"
                                @change="$api.$of().updateC(c.id, c.value)"
                            ></hkp-dropdown>
                        </template>
                        <template x-if="c.type == 'On'">
                            <hkp-dropdown
                                :options="[
                                    'true',
                                    'false'
                                    ]"
                                x-model="c.value"
                                @change="$api.$of().updateC(c.id, c.value)"
                            ></hkp-dropdown>
                        </template>
                        <template x-if="c.type == 'CurrentHeaterCoolerState'">
                            <hkp-dropdown
                                :options="[
                                    'CurrentHeaterCoolerStateInactive',
                                    'CurrentHeaterCoolerStateIdle',
                                    'CurrentHeaterCoolerStateHeating',
                                    'CurrentHeaterCoolerStateCooling',
                                    ]"
                                x-model="c.value"
                                @change="$api.$of().updateC(c.id, c.value)"
                            ></hkp-dropdown>
                        </template>
                        <template x-if="c.type == 'TargetHeaterCoolerState'">
                            <hkp-dropdown
                                :options="[
                                    'TargetHeaterCoolerStateAuto',
                                    'TargetHeaterCoolerStateHeat',
                                    'TargetHeaterCoolerStateCool',
                                    ]"
                                x-model="c.value"
                                @change="$api.$of().updateC(c.id, c.value)"
                            ></hkp-dropdown>
                        </template>
                        <template x-if="c.type == 'CurrentTemperature'">
                            <span x-text="c.value"></span>
                        </template>
                        <template
                            x-if="c.type == 'RotationSpeed' || c.type == 'CoolingThresholdTemperature' || c.type == 'HeatingThresholdTemperature'"
                        >
                            <hkp-range
                                :min="c.min"
                                :max="c.max"
                                x-model="c.value"
                                @change="$api.$of().updateC(c.id, c.value)"
                            ></hkp-range>
                        </template>
                    </div>
                </div>
            </template>
        </div>
        <div class="mt-8">
            <h2>Automations</h2>
            <template x-for="c in $api.data.automations">
                <div
                    class="grid md:grid-cols-12 gap-x-8 gap-y-2 my-2 px-2 py-2 bg-gray-50"
                >
                    <div class="md:col-span-2">
                        <div :class="$api.labelClass" x-text="'#' + c.id"></div>
                        <div
                            :class="$api.descriptionClass"
                            x-text="c.name"
                        ></div>
                    </div>
                    <div class="md:col-span-1">
                        <div :class="$api.labelClass">Enabled</div>
                        <hkp-dropdown
                            :options="[ 'true', 'false' ]"
                            x-model="c.enabled"
                            @change="$api.$of().updateA(c.id, c.enabled)"
                        ></hkp-dropdown>
                    </div>
                    <div class="md:col-span-3">
                        <div :class="$api.labelClass">Command</div>
                        <div :class="$api.valueClass" x-text="c.cmd"></div>
                    </div>
                    <div class="md:col-span-2">
                        <div :class="$api.labelClass">Cron</div>
                        <div
                            :class="$api.valueClass"
                            x-text="c.cron + ' ± ' + c.tolerance"
                        ></div>
                    </div>
                    <div class="md:col-span-2">
                        <div :class="$api.labelClass">Next Run</div>
                        <div
                            :class="$api.valueClass"
                            x-text="$formatDate(c.next_run)"
                        ></div>
                    </div>
                    <div class="md:col-span-2">
                        <div :class="$api.labelClass">Last Run</div>
                        <div
                            :class="$api.valueClass"
                            x-text="$formatDate(c.last_run)"
                        ></div>
                    </div>
                    <template x-if="c.last_error">
                        <div class="md:col-span-12">
                            <div :class="$api.labelClass">Last Error</div>
                            <div
                                :class="$api.valueClass"
                                class="text-red-700"
                                x-text="c.last_error || 'None'"
                            ></div>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </div>
    <script>
        return {
            labelClass: "text-xs font-medium text-gray-400 mb-2",
            descriptionClass: "text-sm",
            valueClass: "text-sm font-mono",
            errorMessage: "",
            data: {
                now: "",
                name: "",
                characteristics: [],
                automations: [],
            },
            async onMounted() {
                this.data = await $json("s/all");
            },
            async updateC(id, value) {
                try {
                    await $json("/s/c/" + id, "POST", { value: value });
                    this.infoMessage =
                        "Succeed to set characteristic #" +
                        id +
                        " to [" +
                        value +
                        "]";
                } catch (e) {
                    this.errorMessage = e;
                }
            },
            async updateA(id, value) {
                try {
                    await $json("/s/a/" + id, "POST", { value: value });
                    this.infoMessage =
                        "Succeed to set automation #" +
                        id +
                        " to [" +
                        value +
                        "]";
                } catch (e) {
                    this.errorMessage = e;
                }
            },
        };
    </script>
</template>
