<template x-component="dropdown" x-modelable="value" x-data="{ value: '' }">
    <div class="flex">
        <div class="relative">
            <select
                x-model="value"
                class="pl-3 pr-8 py-1 bg-transparent text-slate-700 text-sm border border-slate-400 appearance-none rounded-none"
                :class="$api.bind_class[value]"
            >
                <template x-for="opt in $prop('options')">
                    <option :value="opt" x-text="opt"></option>
                </template>
            </select>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.2"
                stroke="currentColor"
                class="h-5 w-5 ml-1 absolute top-1.5 right-1.5 text-slate-700"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
                />
            </svg>
        </div>
        <slot></slot>
    </div>
    <script>
        return {
            bind_class: {
                true: "text-green-600 border-green-600",
                false: "text-red-600 border-red-600",
            },
        };
    </script>
</template>
